* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-default {
  max-width: 600px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}

.wrapper-default {
  min-height: 100vh;
}

.text-area-item {
  resize: none;
}
